[package]
name = "sozu"
description = "sozu, a fast, reliable, hot reconfigurable HTTP reverse proxy"
repository = "https://github.com/sozu-proxy/sozu"
readme = "README.md"
documentation = "https://docs.rs/sozu"
homepage = "https://sozu.io"
version = "0.15.4"
license = "AGPL-3.0"
authors = [
  "Geoffroy Couprie <geo.couprie@gmail.com>",
  "Eloi Demolis <eloi.demolis@clever-cloud.com>",
  "Emmanuel Bosquet <emmanuel.bosquet@clever-cloud.com>",
  "Florentin Dubois <florentin.dubois@clever-cloud.com>",
]
categories = ["network-programming"]
edition="2021"
rust-version = "1.70.0"
include = [
  "README.md",
  "Cargo.toml",
  "src/**/*",
]

[dependencies]
anyhow = "^1.0.72"
async-dup = "^1.2.2"
async-io = "^1.13.0"
clap = { version = "^4.3.21", features = ["derive"] }
futures = "^0.3.28"
futures-lite = "^1.13.0"
hex = "^0.4.3"
jemallocator = { version = "^0.5.4", optional = true }
lazy_static = "^1.4.0"
libc = "^0.2.147"
log = "^0.4.19"
mio = { version = "^0.8.8", features = ["os-poll", "net"] }
nix = { version = "^0.27.1", features = ["signal", "fs"] }
nom = "^7.1.3"
paw = "^1.0.0"
prettytable-rs = { version = "^0.10.0", default-features = false }
serde = { version = "^1.0.183", features = ["derive"] }
serde_json = "^1.0.104"
time = "^0.3.25"
rand = "^0.8.5"
regex = "^1.9.3"
slab = "^0.4.8"
smol = "^1.3.0"
tempfile = "^3.7.1"
termion = "^2.0.1"
x509-parser = "^0.15.1"

sozu-command-lib = { path = "../command", version = "^0.15.4" }
sozu-lib = { path = "../lib", version = "^0.15.4" }

[target.'cfg(target_os="linux")'.dependencies]
num_cpus = "^1.16.0"

[features]
default = ["jemallocator"]
unstable = []
logs-debug = ["sozu-lib/logs-debug", "sozu-command-lib/logs-debug"]
logs-trace = ["sozu-lib/logs-trace", "sozu-command-lib/logs-trace"]
tolerant-http1-parser = ["sozu-lib/tolerant-http1-parser"]

[badges]
travis-ci = { repository = "sozu-proxy/sozu" }
