[package]
name = "sozu"
description = "sozu, a fast, reliable, hot reconfigurable HTTP reverse proxy"
repository = "https://github.com/sozu-proxy/sozu"
readme = "README.md"
documentation = "https://docs.rs/sozu"
homepage = "http://sozu.io"
version = "0.2.0"
license = "AGPL-3.0"
authors = ["Geoffroy Couprie <geo.couprie@gmail.com>"]
categories = ["network-programming"]

include = [
  "README.md",
  "Cargo.toml",
  "src/*.rs",
]

[dependencies]
mio = "^0.6"
mio-uds = "^0.6"
serde = "~0.9.13"
serde_json = "~0.9.9"
serde_derive = "~0.9.13"
nom = "^2.0"
nix  = "^0.7"
time = "^0.1.34"
clap = "^2.19.0"
slab = "^0.3.0"
libc = "^0.2"
rand = "^0.3.14"
sozu-lib = { version = "^0.2", path = "../lib" }
sozu-command-lib = { version = "^0.2", path = "../command" }

[target.'cfg(target_os="linux")'.dependencies]
num_cpus = "^1.3.0"
#procinfo = { git = "https://github.com/BlackYoup/procinfo-rs", branch = "limits" }

[features]
unstable = []

[badges]
travis-ci = { repository = "sozu-proxy/sozu" }
