language: rust

cache: cargo

rust:
  - nightly
  - beta
  - stable

before_install:
  - export ROOT_PATH=`pwd`
  - wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.0.0_1.0.2g-1ubuntu4.6_amd64.deb
  - wget http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl-dev_1.0.2g-1ubuntu4.6_amd64.deb
  - sudo dpkg -i libssl1.0.0_1.0.2g-1ubuntu4.6_amd64.deb
  - sudo dpkg -i libssl-dev_1.0.2g-1ubuntu4.6_amd64.deb

before_script:
  - |
      cargo install cargo-travis &&
      export PATH=$HOME/.cargo/bin:$PATH

script:
  - cd $ROOT_PATH/lib     && cargo test
  - cd $ROOT_PATH/command && cargo test
  - cd $ROOT_PATH/bin     && cargo build
  - cd $ROOT_PATH/ctl     && cargo build

after_success:
  - if [ "$TRAVIS_RUST_VERSION" == "nightly" ]; then
      cargo coveralls --all --verbose;
    fi

dist: trusty

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/a8be0f69e0165e590dcb
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
