[Unit]
Description=Sozu - A HTTP reverse proxy, configurable at runtime, fast and safe, built in Rust.
Documentation=https://docs.rs/sozu/
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
RuntimeDirectory=sozu-%i
Type=simple
PIDFile=/run/sozu/sozu-%i.pid
ExecStartPre=/usr/bin/sozu config check --config /etc/sozu/%i.toml
ExecStart=/usr/bin/sozu start --config /etc/sozu/%i.toml
ExecReloadPre=/usr/bin/sozu config check --config /etc/sozu/%i.toml
ExecReload=/usr/bin/sozu reload --config /etc/sozu/%i.toml
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

