[ req ]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn

[ dn ]
CN = sozu.io

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = sozu.io
DNS.2 = rsa-2048.sozu.io